# DATABASE_URL=postgresql://neondb_owner:
ACCESS_TOKEN_SECRET=super_access_secret
REFRESH_TOKEN_SECRET=super_refresh_secret
ACCESS_TOKEN_EXPIRY=1500
REFRESH_TOKEN_EXPIRY=604800
NEXT_PUBLIC_API_URL=http://localhost:3000/api
PRISMA_CLIENT_ENGINE_TYPE=binary
DATABASE_URL=postgresql://postgres:@localhost:5432/ecommerce
CLOUDINARY_CLOUD_NAME=xxxxx
CLOUDINARY_API_KEY=xxxxx
CLOUDINARY_API_SECRET=xxxxx

#pgbouncer=true
DATABASE_URL=postgresql://postgres.ilxqvcnwwmfzcqkfbgum:h@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
connection limit=1